<form method="post" class="w-full" action="{{ path('customer_delete', {'id': customer.id}) }}" onsubmit="return confirm('Voulez-vous réellement supprimer ce client ? (Cette action est définitive, les facture seront conservés).');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
    <button class="block bg-red-600 text-white text-center my-3 rounded-md shadow-md py-2 w-full">Supprimer</button>
</form>
