{{ form_start(form, {'attr':{'class': 'w-3/5 flex bg-gray-200'}}) }}
    {{ form_widget(form.value) }}
    <button class="px-2" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
{{ form_end(form) }}