<div id="sidebar" class="bg-color-primary h-screen relative w-2/12">
    <b class="text-green-400 block text-center pt-10 text-2xl">ERP FREELANCE</b>

    <nav class="mt-40">
        <ul>
            <li><a href="{{ path('customer_index') }}" class="text-gray-300 font-semibold tracking-wider text-lg block py-3 pl-5 bg-color-opacity text-green-400 border-r-4 border-green-400">Clients</a></li>
            <li><a href="" class="text-gray-300 font-semibold tracking-wider text-lg block py-3 pl-5">Devis</a></li>
            <li><a href="" class="text-gray-300 font-semibold tracking-wider text-lg block py-3 pl-5">Projets</a></li>
            <li><a href="" class="text-gray-300 font-semibold tracking-wider text-lg block py-3 pl-5">Factures</a></li>
        </ul>
    </nav>

    <div class="absolute bottom-0 text-center w-full">
        <a href="" class="text-gray-300">Déconnexion</a>
    </div>
</div>